<mat-toolbar class="dark nav">

    <div class="nav-left-items">
        <span>Ayman Hussein</span>
    </div>

    <div class="nav-right-items">
        <div class="desktop-display">
            <a #home href="#home" (click)="navItemClick(home)"><span>Home</span></a>
            <a #skills href="#skills" (click)="navItemClick(skills)"><span>Skills</span></a>
            <a #work href="#work" (click)="navItemClick(work)"><span>Work</span></a>
            <a [ngClass]="blogClicked ? 'blogClicked': '' " (click)="navigateTo('blog')"><span>Blog</span></a>
            <a #contact href="#contact" (click)="navItemClick(contact)"><span>Contact</span></a>
        </div>

        <div class="phone-display">
            <mat-menu #appMenu="matMenu">
                <a #home href="#home" (click)="navItemClick(home)"><button mat-menu-item>Home</button></a>
                <a #skills href="#skills" (click)="navItemClick(skills)"><button mat-menu-item>Skills</button></a>
                <a #work href="#work" (click)="navItemClick(work)"><button mat-menu-item>Work</button></a>
                <a [ngClass]="blogClicked ? 'blogClicked': '' " (click)="navigateTo('blog')"><button mat-menu-item>Blog</button></a>
                <a #contact href="#contact" (click)="navItemClick(contact)"><button mat-menu-item>Contact</button></a>
            </mat-menu>
              
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

    </div>
    
    
</mat-toolbar>