@import 'src/styles.scss';

.nav{
    background-color: black;
    box-shadow: 0px 0px 77px #ecf0f1;
    padding: 45px;
}

.nav-right-items {
    margin-left: auto;

    span {
        margin-left: 40px;
        color: #ecf0f1;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
    }   
}
.nav-left-items {

    span {
        color: #ecf0f1;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
    }   
}