<mat-toolbar class="dark nav">

    <div class="nav-left-items">
        <span>Ayman Hussein</span>
    </div>

    <div class="nav-right-items">
        <div class="desktop-display">
            <a autofocus href="#home"><span>Home</span></a>
            <a href="#skills"><span>Skills</span></a>
            <a href="#work"><span>Work</span></a>
            <a href="#blog"><span>Blog</span></a>
            <a href="#contact"><span>Contact</span></a>
        </div>

        <div class="phone-display">
            <mat-menu #appMenu="matMenu">
                <a href="#home"><button mat-menu-item>Home</button></a>
                <a href="#skills"><button mat-menu-item>Skills</button></a>
                <a href="#work"><button mat-menu-item>Work</button></a>
                <a href="#blog"><button mat-menu-item>Blog</button></a>
                <a href="#contact"><button mat-menu-item>Contact</button></a>
            </mat-menu>
              
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

    </div>
    
    
</mat-toolbar>