<div class="container">
    <div class="wrapper">
        <div class="title">
            <h3>Let’s Discuss Your Project</h3>
            <p>Always available for freelancing if the right project comes along, Feel free to contact me.</p>
        </div>
        <div class="wrapper-form">
            <div class="fullName form-group">
                <label class="form-label">Full name</label>
                <input name="Name" id="name" placeholder="Name *" type="text" class="form-control">
            </div>
            <div class="email form-group">
                <label class="form-label">Your Email</label>
                <input name="Email" id="email" placeholder="Email *" type="email" class="form-control">
            </div>
            <div class="subject form-group">
                <label class="form-label">Subject</label>
                <input name="Subject" id="subject" placeholder="Subject *" type="text" class="form-control">
            </div>
            <div class="message form-group">
                <label class="form-label">Your message</label>
                <textarea name="message" id="message" placeholder="Your message *"></textarea>
            </div>
            <div class="send">
                <button type="button" value="Send">Send Message</button>
            </div>
            <div class="contact-info-in">
                <label>write an e-mail</label>
                <a href="mailto:ayman.kanaaneh@gmai.com">ayman.kanaaneh@gmai.com</a>
            </div>
            <div class="social-icon">
                <a href="javascript:" class="linkedin"><i></i></a>
                <a href="javascript:" class="github"><i></i></a>
                <a href="javascript:" class="facebook"><i></i></a>
            </div>
        </div>
    </div>
</div>