<div class="container">
    <div class="wrapper">
        <div class="company-title">
            <h2>ZoomInfo</h2>
        </div>
        <div class="about">
            <p>ZoomInfo is a business intelligence platform used for sales and marketing. It provides detailed business information and contact details to help businesses identify leads, target industries, and gain insights about companies and key decision-makers.</p>
            <ul>
                <li>Developed and maintained high-quality web applications using Angular and Node.js.</li>
                <li>Wrote unit tests and integration tests to ensure code quality and reliability.</li>
                <li>Collaborated with fellow developers to implement new features and enhance existing applications.</li>
                <li>Actively participated in code reviews and design discussions, ensuring adherence to best practices.</li>
                <li>Contributed to maintaining and enhancing the team's development process for improved efficiency and productivity.</li>
            </ul>                         
        </div>
        <div class="main-skills">
            <div class="roles">
                <h3>ROLES</h3>
                <span>Front End Developer</span>
                <span>Back End Developer</span>
            </div>
            <div class="stack">
                <h3>MAIN TECH STACK</h3>
                <span>JavaScript</span>
                <span>Angular</span>
                <span>Node.js</span>
                <span>NestJS</span>
                <span>MongoDB</span>
                <span>Git</span>
                <span>RxJs</span>
                <span>NgRx</span>
                <span>Jest</span>
            </div>
        </div>
    </div>
</div>