<div class="content__container">
    <div class="content__container__list">
        <div class="content__container__list__item">
            <span>TypeScript</span>
            <mat-progress-bar class="custom-progress-bar" mode="determinate" value="97" color="red"></mat-progress-bar>
        </div>
        <div class="content__container__list__item">
            <span>JavaScript</span>
            <mat-progress-bar mode="determinate" value="97"></mat-progress-bar>
        </div>
        <div class="content__container__list__item">
            <span>Angular</span>
            <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
        </div>
        <div class="content__container__list__item">
            <span>Git</span>
            <mat-progress-bar class="custom-progress-bar" mode="determinate" value="95" color="red"></mat-progress-bar>
        </div>
        <div class="content__container__list__item">
            <span>GitHub</span>
            <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
        </div>
        <div class="content__container__list__item">
            <span>Html</span>
            <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
        </div>
        <div class="content__container__list__item">
            <span>SCSS</span>
            <mat-progress-bar class="custom-progress-bar" mode="determinate" value="80" color="red"></mat-progress-bar>
        </div>
        <div class="content__container__list__item">
            <span>CSS</span>
            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        </div>
        <div class="content__container__list__item">
            <span>Html</span>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
    </div>
</div>