.home {
    height: 100vh;
}
.skills {
    padding: 10%;
    height: 100vh;
    transform: translate(0%, 50%);
}
.work{
    padding: 10%;
    height: 100vh;
    transform: translate(0%, 50%);
}
.contact {
    padding: 10%;
    margin-top: 100px;
    height: 100vh;
    transform: translate(0%, 50%);
}