<div>
    <div class="content-1">
        <h2>Hi, I'm Ayman Hussein,</h2>
    </div>
    <div class="content">
        <div class="content__container">
          <p class="content__container__text">
            I'M A
          </p>
          
          <ul class="content__container__list">
            <li class="content__container__list__item">Full STACK DEVELOPER</li>
            <li class="content__container__list__item">BACKEND DEVELOPER</li>
            <li class="content__container__list__item">FRONTEND DEVELOPER</li>
            <li class="content__container__list__item">SOFTWARE ENGINEER</li>
          </ul>
        </div>
      </div>
</div>