<div>
    <div class="content-text">
        <h2>Hi, I'm Ayman Hussein,</h2>
    </div>
    <div class="content">
        <div class="content__container">
          <p class="content__container__text">
            I'm a
          </p>
          
          <ul class="content__container__list">
            <li class="content__container__list__item">Full Stack Engineer</li>
            <li class="content__container__list__item">Software Engineer</li>
            <li class="content__container__list__item">Backend Engineer</li>
            <li class="content__container__list__item">Frontend Engineer</li>
          </ul>
        </div>
    </div>
    <div class="content-button">
        <a mat-raised-button href="https://drive.google.com/file/d/1Yn8Mwo03572DPMKGcQEtBn-WNNSNjz0R/view" target="_blank">   
          <div>
            <span>View Resume</span>
            <span class="icon"><mat-icon>cloud_download</mat-icon></span>
          </div>
        </a>
    </div>
</div>